<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Product details</title>
    <link rel="stylesheet" type="text/css" href="webjars/bootstrap/4.0.0-2/css/bootstrap.min.css"/>
</head>
<body>
<div class="container">
    <h1>Product's details</h1>
    <div class="row">
        <div class="col-md-4 mx-auto mt-5 text-center">
            <img th:src="${product.image}" class="card-img-top"/>
            <p th:text="${product.title}" class="font-weight-bold"></p>
            <p th:text="${product.description}"></p>
            <p>
                <a th:href="@{|/details-produit/order-product/${product.id}|}"
                   class="font-weight-bold">Order</a>
            </p>
        </div>
    </div>
</div>
</body>

<script type="text/javascript" src="webjars/bootstrap/4.0.0-2/js/bootstrap.min.js"></script>

</html>